### Question 1 : Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [0]:
def myreduce(func, seq, init= None):
  
  it = iter(seq)

  if init == None:
      value = next(it)
      print("Current Value is: ",value)
  else:
    value = init

  for ele in it:
    print("value : {} , Element : {}".format(value, ele))
    value = func(value, ele)

  return value

In [7]:
# With Initial value given as 7

my_numbers = [4, 6, 9, 23, 5]
reduce_result = myreduce(lambda num1, num2: num1 * num2, my_numbers, 7)
print(reduce_result)

value : 7 , Element : 4
value : 28 , Element : 6
value : 168 , Element : 9
value : 1512 , Element : 23
value : 34776 , Element : 5
173880

In [8]:
# Without Initial Value

my_numbers = [4, 6, 9, 23, 5]
reduce_result = myreduce(lambda num1, num2: num1 * num2, my_numbers)
print(reduce_result)

Current Value is:  4
value : 4 , Element : 6
value : 24 , Element : 9
value : 216 , Element : 23
value : 4968 , Element : 5
24840

### Question 2 : Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [0]:
# This is filter function which accept function and iterable as parameter
def myFilter(func, seq): #(it could be any function or None, seq is list of alphabets)
  res = []
  it = iter(seq)
  for ele in it:
    if func == None:
      if(ele):
        res.append(ele)
    elif(func(ele)):
      res.append(ele)
  return res

In [0]:
def isVowel(alph):
  vowels = ['a', 'e', 'i', 'o', 'u']
  # print(alph)
  if (alph in vowels):
    return True
  else:
    return False

In [35]:
# with function given as parameter
filteredRes = myFilter(isVowel, ['a', 'b', 'd', 'e', 'i', 'j', 'o'])
print("The filtered elements are: ")
for i in filteredRes:
  print(i)

The filtered elements are:
a
e
i
o

In [38]:
# without Function 
filResult = myFilter(None, [1, 'a', 0, False, True, '0'])
print("The filtered elements are: ")
for i in filResult:
  print(i)

The filtered elements are:
1
a
True
0

Question 3 : Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [12]:
inp_list_1 = ['x','y','z']
print([alph*n for alph in inp_list_1 for n in range(1, 5)])

print([alph*n for n in range(1,5) for alph in inp_list_1])

inp_list_2 = [2,3,4]
print([[ele+n] for ele in inp_list_2 for n in range(0,3)])

inp_list_3 = [2,3,4,5]
print([[ele+n for ele in inp_list_3] for n in range(0,4)])

inp_list_4 = [1,2,3]
print([(ele_2, ele_1) for ele_1 in inp_list_4 for ele_2 in inp_list_4])

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]